In [202]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import time
sb.set()

In [203]:
bitcoin_data = pd.read_csv('Bitcoin_data (2).csv')

In [204]:
bitcoin_data.head()

,date,txVolume(USD),adjustedTxVolume(USD),txCount,marketcap(USD),price(USD),exchangeVolume(USD),activeAddresses,generatedCoins,cumulative total number of coins,fees,averageDifficulty,paymentCount,medianTxValue(USD),medianFee,blockSize,blockCount
0,9/1/2009,NaN,NaN,0,NaN,NaN,NaN,14,700.0,700.0,0.0,1.0,NaN,NaN,NaN,3010,14
1,10/1/2009,NaN,NaN,0,NaN,NaN,NaN,61,3050.0,3750.0,0.0,1.0,NaN,NaN,NaN,13129,61
2,11/1/2009,NaN,NaN,0,NaN,NaN,NaN,93,4650.0,8400.0,0.0,1.0,NaN,NaN,NaN,20033,93
3,12/1/2009,NaN,NaN,7,NaN,NaN,NaN,102,4700.0,13100.0,0.0,1.0,5.0,NaN,0.0,22031,94
4,13/1/2009,NaN,NaN,0,NaN,NaN,NaN,123,6150.0,19250.0,0.0,1.0,NaN,NaN,NaN,26527,123

In [205]:
bitcoin_hashrate = pd.read_csv("BCHAIN-HRATE.csv")

In [206]:
bitcoin_hashrate.head()

       Date      Value
0  1/5/2013  72.128914
1  2/5/2013  73.631600
2  3/5/2013  73.631600
3  4/5/2013  77.137866
4  5/5/2013  81.645923

In [207]:
test = bitcoin_data['date']

In [208]:
requiredDate = bitcoin_hashrate["Date"]

In [209]:
firstDate = requiredDate[0]

In [210]:
date1 = time.strptime(firstDate, "%d/%m/%Y")

In [211]:
bitcoin_data.date

0         9/1/2009
1        10/1/2009
2        11/1/2009
3        12/1/2009
4        13/1/2009
           ...
3600    13/10/2018
3601    14/10/2018
3602    15/10/2018
3603    16/10/2018
3604    17/10/2018
Name: date, Length: 3605, dtype: object

In [212]:
bitcoin_data.date = pd.to_datetime(bitcoin_data.date, format = "%d/%m/%Y")
bitcoin_data.date.dt.month

0        1
1        1
2        1
3        1
4        1
        ..
3600    10
3601    10
3602    10
3603    10
3604    10
Name: date, Length: 3605, dtype: int64

In [213]:
bitcoin_data.date

0      2009-01-09
1      2009-01-10
2      2009-01-11
3      2009-01-12
4      2009-01-13
          ...
3600   2018-10-13
3601   2018-10-14
3602   2018-10-15
3603   2018-10-16
3604   2018-10-17
Name: date, Length: 3605, dtype: datetime64[ns]

In [214]:
filteredDateBitcoin_data = bitcoin_data[(bitcoin_data.date >= "2013-05-01") ]

In [215]:
filteredDateBitcoin_data

,date,txVolume(USD),adjustedTxVolume(USD),txCount,marketcap(USD),price(USD),exchangeVolume(USD),activeAddresses,generatedCoins,cumulative total number of coins,fees,averageDifficulty,paymentCount,medianTxValue(USD),medianFee,blockSize,blockCount
1573,2013-05-01,1.206825e+08,8.208736e+07,55176,1.543334e+09,139.00,0.000000e+00,83564,3775.0,11102989.80,40.885938,1.007629e+07,96129.0,38.671980,0.000500,25727393,151
1574,2013-05-02,9.337533e+07,5.823736e+07,55295,1.292577e+09,116.38,0.000000e+00,81920,3350.0,11106339.80,52.554004,1.007629e+07,101721.0,35.382348,0.000500,26388234,134
1575,2013-05-03,7.273133e+07,5.465641e+07,51275,1.180430e+09,106.25,0.000000e+00,82804,3425.0,11109764.80,45.458845,1.007629e+07,92650.0,30.818556,0.000500,24999318,137
1576,2013-05-04,3.896570e+07,2.319290e+07,50102,1.090276e+09,98.10,0.000000e+00,69959,3975.0,11113739.80,45.667878,1.007629e+07,119009.0,15.912912,0.000500,25116891,159
1577,2013-05-05,5.708371e+07,2.555227e+07,50167,1.255228e+09,112.90,0.000000e+00,72103,4125.0,11117864.80,36.565066,1.007629e+07,103009.0,22.467100,0.000500,25186659,165
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3600,2018-10-13,2.686031e+09,1.464480e+09,204956,1.090000e+11,6278.08,3.064030e+09,573912,1762.5,17381996.04,13.284765,7.450000e+12,300453.0,139.511870,0.000015,121545129,141
3601,2018-10-14,2.729400e+09,1.514088e+09,191145,1.090000e+11,6288.49,3.085320e+09,524084,1425.0,17383421.04,12.417850,7.450000e+12,281611.0,135.317929,0.000017,109132438,114
3602,2018-10-15,5.907321e+09,3.342051e+09,266783,1.090000e+11,6292.64,7.370770e+09,699171,2025.0,17385446.04,23.096020,7.450000e+12,387215.0,163.023739,0.000022,152889275,162
3603,2018-10-16,4.373732e+09,2.424904e+09,257832,1.140000e+11,6601.41,4.074800e+09,678723,1687.5,17387133.54,19.319427,7.450000e+12,364796.0,169.961882,0.000023,143946965,135
3604,2018-10-17,4.446638e+09,2.239410e+09,260224,1.140000e+11,6590.52,4.088420e+09,673361,1725.0,17388858.54,18.850080,7.450000e+12,361250.0,185.016195,0.000023,144790677,138

In [216]:
filteredDateBitcoin_data.reset_index(drop = True, inplace = True)
filteredDateBitcoin_data.date

0      2013-05-01
1      2013-05-02
2      2013-05-03
3      2013-05-04
4      2013-05-05
          ...
2027   2018-10-13
2028   2018-10-14
2029   2018-10-15
2030   2018-10-16
2031   2018-10-17
Name: date, Length: 2032, dtype: datetime64[ns]

In [217]:

bitcoin_hashrate.Date = pd.to_datetime(bitcoin_hashrate.Date, format = "%d/%m/%Y")
bitcoin_hashrate.Date

0      2013-05-01
1      2013-05-02
2      2013-05-03
3      2013-05-04
4      2013-05-05
          ...
2005   2018-10-27
2006   2018-10-28
2007   2018-10-29
2008   2018-10-30
2009   2018-10-31
Name: Date, Length: 2010, dtype: datetime64[ns]

<p> It appears that there are some missing dates and data  </p>

In [218]:
filteredDateBitcoin_data.date.tail(30)

2002   2018-11-01
2003   2018-11-02
2004   2018-11-03
2005   2018-11-04
2006   2018-11-05
2007   2018-11-06
2008   2018-11-07
2009   2018-11-08
2010   2018-11-09
2011   2018-11-10
2012   2018-11-11
2013   2018-11-12
2014   2018-11-13
2015   2018-11-14
2016   2018-11-15
2017   2018-10-04
2018   2018-10-18
2019   2018-10-05
2020   2018-10-06
2021   2018-10-07
2022   2018-10-08
2023   2018-10-09
2024   2018-10-10
2025   2018-10-11
2026   2018-10-12
2027   2018-10-13
2028   2018-10-14
2029   2018-10-15
2030   2018-10-16
2031   2018-10-17
Name: date, dtype: datetime64[ns]

In [219]:
filteredDateBitcoin_data=filteredDateBitcoin_data.sort_values(by='date')
filteredDateBitcoin_data

,date,txVolume(USD),adjustedTxVolume(USD),txCount,marketcap(USD),price(USD),exchangeVolume(USD),activeAddresses,generatedCoins,cumulative total number of coins,fees,averageDifficulty,paymentCount,medianTxValue(USD),medianFee,blockSize,blockCount
0,2013-05-01,1.206825e+08,8.208736e+07,55176,1.543334e+09,139.00,0.000000e+00,83564,3775.0,11102989.80,40.885938,1.007629e+07,96129.0,38.671980,0.000500,25727393,151
1,2013-05-02,9.337533e+07,5.823736e+07,55295,1.292577e+09,116.38,0.000000e+00,81920,3350.0,11106339.80,52.554004,1.007629e+07,101721.0,35.382348,0.000500,26388234,134
2,2013-05-03,7.273133e+07,5.465641e+07,51275,1.180430e+09,106.25,0.000000e+00,82804,3425.0,11109764.80,45.458845,1.007629e+07,92650.0,30.818556,0.000500,24999318,137
3,2013-05-04,3.896570e+07,2.319290e+07,50102,1.090276e+09,98.10,0.000000e+00,69959,3975.0,11113739.80,45.667878,1.007629e+07,119009.0,15.912912,0.000500,25116891,159
4,2013-05-05,5.708371e+07,2.555227e+07,50167,1.255228e+09,112.90,0.000000e+00,72103,4125.0,11117864.80,36.565066,1.007629e+07,103009.0,22.467100,0.000500,25186659,165
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1943,2018-11-18,1.976557e+09,1.304067e+09,239680,9.664468e+10,5559.74,4.159680e+09,549212,1537.5,17232196.04,18.037467,6.650000e+12,301260.0,78.226098,0.000031,117375788,123
1944,2018-11-19,4.480410e+09,2.620049e+09,267845,9.771459e+10,5620.78,7.039560e+09,674503,1575.0,17233771.04,39.969486,6.650000e+12,361918.0,151.592437,0.000076,138689706,126
1945,2018-11-20,5.838062e+09,3.944652e+09,288318,8.456520e+10,4863.93,8.428290e+09,768696,1650.0,17235421.04,69.367650,6.650000e+12,423180.0,260.945272,0.000117,158893720,132
1946,2018-11-21,3.406311e+09,2.220358e+09,254837,7.764452e+10,4465.54,6.120120e+09,628177,1312.5,17236733.54,49.950160,6.650000e+12,367256.0,161.673715,0.000101,127422353,105
1947,2018-11-22,2.759416e+09,1.711484e+09,265994,8.019071e+10,4611.57,4.569370e+09,656428,1525.0,17238258.54,39.134218,6.650000e+12,364559.0,104.883242,0.000076,148651548,122

In [220]:
filteredDateBitcoin_data = filteredDateBitcoin_data[(filteredDateBitcoin_data.date <="2018-10-31")]

In [221]:
filteredDateBitcoin_data.date

0      2013-05-01
1      2013-05-02
2      2013-05-03
3      2013-05-04
4      2013-05-05
          ...
1997   2018-10-27
1998   2018-10-28
1999   2018-10-29
2000   2018-10-30
2001   2018-10-31
Name: date, Length: 2010, dtype: datetime64[ns]

In [222]:
bitcoin_hashrate.Date

0      2013-05-01
1      2013-05-02
2      2013-05-03
3      2013-05-04
4      2013-05-05
          ...
2005   2018-10-27
2006   2018-10-28
2007   2018-10-29
2008   2018-10-30
2009   2018-10-31
Name: Date, Length: 2010, dtype: datetime64[ns]

In [223]:
filteredDateBitcoin_data.dropna()

,date,txVolume(USD),adjustedTxVolume(USD),txCount,marketcap(USD),price(USD),exchangeVolume(USD),activeAddresses,generatedCoins,cumulative total number of coins,fees,averageDifficulty,paymentCount,medianTxValue(USD),medianFee,blockSize,blockCount
0,2013-05-01,1.206825e+08,8.208736e+07,55176,1.543334e+09,139.00,0.000000e+00,83564,3775.0,11102989.80,40.885938,1.007629e+07,96129.0,38.671980,0.000500,25727393,151
1,2013-05-02,9.337533e+07,5.823736e+07,55295,1.292577e+09,116.38,0.000000e+00,81920,3350.0,11106339.80,52.554004,1.007629e+07,101721.0,35.382348,0.000500,26388234,134
2,2013-05-03,7.273133e+07,5.465641e+07,51275,1.180430e+09,106.25,0.000000e+00,82804,3425.0,11109764.80,45.458845,1.007629e+07,92650.0,30.818556,0.000500,24999318,137
3,2013-05-04,3.896570e+07,2.319290e+07,50102,1.090276e+09,98.10,0.000000e+00,69959,3975.0,11113739.80,45.667878,1.007629e+07,119009.0,15.912912,0.000500,25116891,159
4,2013-05-05,5.708371e+07,2.555227e+07,50167,1.255228e+09,112.90,0.000000e+00,72103,4125.0,11117864.80,36.565066,1.007629e+07,103009.0,22.467100,0.000500,25186659,165
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1997,2018-10-27,2.539737e+09,1.358231e+09,233613,1.120000e+11,6480.84,3.393250e+09,580054,1700.0,17330008.54,13.096520,7.180000e+12,299527.0,128.615121,0.000016,124286905,136
1998,2018-10-28,2.142272e+09,1.372588e+09,219720,1.120000e+11,6482.66,3.445190e+09,560480,1750.0,17331758.54,16.513936,7.180000e+12,293012.0,122.760771,0.000014,115960266,140
1999,2018-10-29,3.866593e+09,2.380527e+09,269608,1.130000e+11,6492.35,4.199910e+09,708285,1825.0,17333583.54,19.604176,7.180000e+12,365187.0,148.009025,0.000022,143637809,146
2000,2018-10-30,3.570156e+09,1.988669e+09,283173,1.100000e+11,6337.04,3.781100e+09,697601,1925.0,17335508.54,18.771409,7.180000e+12,368799.0,130.622997,0.000023,145324396,154
2001,2018-10-31,3.665795e+09,2.303248e+09,288120,1.100000e+11,6336.99,4.191240e+09,707291,2037.5,17337546.04,16.652293,7.180000e+12,374760.0,118.429535,0.000017,149681753,163

In [224]:
bitcoin_hashrate.dropna()

           Date         Value
0    2013-05-01  7.212891e+01
1    2013-05-02  7.363160e+01
2    2013-05-03  7.363160e+01
3    2013-05-04  7.713787e+01
4    2013-05-05  8.164592e+01
...         ...           ...
2005 2018-10-27  4.856037e+07
2006 2018-10-28  4.998861e+07
2007 2018-10-29  5.213098e+07
2008 2018-10-30  5.498747e+07
2009 2018-10-31  5.820103e+07

[2010 rows x 2 columns]

In [199]:
final_data = pd.merge(left = filteredDateBitcoin_data, left_on = "date",
        right = bitcoin_hashrate, right_on = "Date")
final_data.drop(columns = ["Date"])
final_data = final_data.rename(columns = {"Value": "Hashrate"})
final_data

,date,txVolume(USD),adjustedTxVolume(USD),txCount,marketcap(USD),price(USD),exchangeVolume(USD),activeAddresses,generatedCoins,cumulative total number of coins,fees,averageDifficulty,paymentCount,medianTxValue(USD),medianFee,blockSize,blockCount,Date,Hashrate
0,2013-05-01,1.206825e+08,8.208736e+07,55176,1.543334e+09,139.00,0.000000e+00,83564,3775.0,11102989.80,40.885938,1.007629e+07,96129.0,38.671980,0.000500,25727393,151,2013-05-01,7.212891e+01
1,2013-05-02,9.337533e+07,5.823736e+07,55295,1.292577e+09,116.38,0.000000e+00,81920,3350.0,11106339.80,52.554004,1.007629e+07,101721.0,35.382348,0.000500,26388234,134,2013-05-02,7.363160e+01
2,2013-05-03,7.273133e+07,5.465641e+07,51275,1.180430e+09,106.25,0.000000e+00,82804,3425.0,11109764.80,45.458845,1.007629e+07,92650.0,30.818556,0.000500,24999318,137,2013-05-03,7.363160e+01
3,2013-05-04,3.896570e+07,2.319290e+07,50102,1.090276e+09,98.10,0.000000e+00,69959,3975.0,11113739.80,45.667878,1.007629e+07,119009.0,15.912912,0.000500,25116891,159,2013-05-04,7.713787e+01
4,2013-05-05,5.708371e+07,2.555227e+07,50167,1.255228e+09,112.90,0.000000e+00,72103,4125.0,11117864.80,36.565066,1.007629e+07,103009.0,22.467100,0.000500,25186659,165,2013-05-05,8.164592e+01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2005,2018-10-27,2.539737e+09,1.358231e+09,233613,1.120000e+11,6480.84,3.393250e+09,580054,1700.0,17330008.54,13.096520,7.180000e+12,299527.0,128.615121,0.000016,124286905,136,2018-10-27,4.856037e+07
2006,2018-10-28,2.142272e+09,1.372588e+09,219720,1.120000e+11,6482.66,3.445190e+09,560480,1750.0,17331758.54,16.513936,7.180000e+12,293012.0,122.760771,0.000014,115960266,140,2018-10-28,4.998861e+07
2007,2018-10-29,3.866593e+09,2.380527e+09,269608,1.130000e+11,6492.35,4.199910e+09,708285,1825.0,17333583.54,19.604176,7.180000e+12,365187.0,148.009025,0.000022,143637809,146,2018-10-29,5.213098e+07
2008,2018-10-30,3.570156e+09,1.988669e+09,283173,1.100000e+11,6337.04,3.781100e+09,697601,1925.0,17335508.54,18.771409,7.180000e+12,368799.0,130.622997,0.000023,145324396,154,2018-10-30,5.498747e+07
2009,2018-10-31,3.665795e+09,2.303248e+09,288120,1.100000e+11,6336.99,4.191240e+09,707291,2037.5,17337546.04,16.652293,7.180000e+12,374760.0,118.429535,0.000017,149681753,163,2018-10-31,5.820103e+07

In [200]:
final_data.shape #2010 rows and 19 columns

(2010, 19)

In [201]:
final_data.describe()

,txVolume(USD),adjustedTxVolume(USD),txCount,marketcap(USD),price(USD),exchangeVolume(USD),activeAddresses,generatedCoins,cumulative total number of coins,fees,averageDifficulty,paymentCount,medianTxValue(USD),medianFee,blockSize,blockCount,Hashrate
count,2.010000e+03,2.010000e+03,2010.000000,2.010000e+03,2010.000000,2.010000e+03,2.010000e+03,2010.000000,2.010000e+03,2010.000000,2.010000e+03,2.010000e+03,2010.000000,2010.000000,2.010000e+03,2010.000000,2.010000e+03
mean,2.727782e+09,1.128932e+09,167000.983582,3.703470e+10,2241.953667,1.397453e+09,4.320208e+05,3111.085195,1.479084e+07,84.140220,9.149474e+11,2.855064e+05,177.758099,0.000231,9.050537e+07,156.337811,6.878142e+06
std,5.188515e+09,1.976959e+09,91209.363929,5.852448e+10,3440.698126,3.027411e+09,2.599649e+05,1113.332751,1.833440e+06,134.744904,1.768688e+12,1.586593e+05,344.525573,0.000262,4.732607e+07,19.338483,1.319907e+07
min,3.287234e+07,2.053871e+07,30170.000000,7.794864e+08,68.500000,0.000000e+00,4.840200e+04,1000.000000,1.110299e+07,8.054165,1.007629e+07,4.549700e+04,0.024145,0.000009,1.416367e+07,80.000000,7.212891e+01
25%,2.515058e+08,1.023130e+08,75397.500000,4.344793e+09,319.295000,1.860658e+07,1.942042e+05,1937.500000,1.327311e+07,15.972153,2.982973e+10,1.519912e+05,51.234019,0.000100,4.297304e+07,143.250000,2.328065e+05
50%,7.739682e+08,2.780526e+08,177364.000000,8.071310e+09,592.695000,5.658875e+07,4.415655e+05,3450.000000,1.514880e+07,32.144669,1.200000e+11,3.040430e+05,75.497287,0.000100,9.896247e+07,154.000000,1.005806e+06
75%,3.349579e+09,1.472832e+09,235312.000000,4.078795e+10,2489.062500,1.072115e+09,6.339885e+05,4000.000000,1.639441e+07,74.490766,6.790000e+11,3.762722e+05,194.289317,0.000313,1.290430e+08,167.000000,4.976738e+06
max,4.835307e+10,1.624809e+10,490459.000000,3.260000e+11,19475.800000,2.384090e+10,1.283929e+06,6500.000000,1.738886e+07,1495.946477,7.450000e+12,1.883744e+06,4176.310572,0.002260,2.040237e+08,260.000000,6.186626e+07